<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      Two species, <%= x_fish %> and <%= y_fish %>,
      compete for the same resources. Suppose their
      populations satisfy the following system of
      ODEs:
    </p>
    <me><%= dxdt %></me>
    <me><%= dydt %></me>
  </statement>
  <answer>
  </answer>
</exercise>
